---
---

<div class="author-card">
  <div class="author-avatar">VS</div>
  <div class="author-info">
    <div class="author-name">Vadim Smirnov</div>
    <div class="author-description">Software engineer at Gear Protocol / Vara Network. Bangkok.</div>
  </div>
</div>
