---
import ThemeToggle from './ThemeToggle.astro';
---

<header>
  <div class="container">
    <nav>
      <a href="/" class="site-name">vadim smirnov</a>
      <ul class="nav-links">
        <li><a href="/#projects">projects</a></li>
        <li><a href="/blog/">writing</a></li>
        <li><a href="https://ukint-vs.github.io/rps-arena/" target="_blank" rel="noopener">rps arena</a></li>
        <li><a href="https://github.com/ukint-vs" target="_blank" rel="noopener">github</a></li>
        <li><ThemeToggle /></li>
      </ul>
    </nav>
    <div class="currently">currently: <a href="https://github.com/gear-foundation/vara-wallet" target="_blank" rel="noopener" class="currently-link">vara-wallet</a></div>
  </div>
</header>
